.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: whitesmoke;
  border-radius: 100%;
  border: 3px solid whitesmoke;
}

.btn:hover {
  cursor: pointer;
  border: 3px solid rgb(90, 90, 90);
}

.bg_blue:hover {
  background-color: rgb(33, 150, 243);
}

.bg_green:hover {
  background-color: rgb(21, 139, 21);
}

.bg_yellow:hover {
  background-color: yellow;
}

.bg_red:hover {
  background-color: rgb(207, 37, 37);
}

.btn > img {
  height: 24px;
  width: 24px;
}
